click==7.1.2
Flask==1.1.2
Flask-JWT-Extended==3.24.1 
Flask-Script==2.0.6
python-dotenv==0.13.0
numpy==1.19.0
haversine==2.2.0
flask-cors==3.0.9
requests==2.24.0
ortools
connexion
connexion[swagger-ui]