{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}CSVRP{% endblock %}</h1>
{% endblock %}

{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <label>Input</label>
                <table id="data" border="1"></table>
            </div>
            <div class="col-sm-6">
                <label>Output</label>
                <div id="solution"></div>
                <table id="solution-data" border="1"></table>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/cvrp.js') }}"></script>
    <script type="text/javascript" charset="utf-8">
        data = {{ data | tojson }}
        solution = {{ solution | safe }}
        buildHtmlTable('#data', data);
        buildHtmlTable('#solution-data', solution);
        buildPlotlyMap('solution', solution);
    </script>
{% endblock %}
